template(name='home')
    .ui.stackable.padded.centered.grid
        .one.column.row(style="background-position: center center; background-image: url('https://cdn.shopify.com/s/files/1/0530/4048/0439/files/Blueberry_Cooked_1512x.png?v=1619982072');")
            .center.aligned.column.white-text
                .transback
                    .ui.big.inverted.header.f10
                        |ROCK-N- ROLL COOKIE CO.
                        |Healthy Delicious Vegan Gluten Free Grain Free Cookie Dough Hailing from Boulder, Colorado
                        |Great Raw or Baked
                    .ui.big.inverted.header.f10
                        |EAT RESPONIBLY!!!
                    .ui.inverted.header.f10
                        |FREE SHIPPING @ $49
                    a.ui.big.button(href="/register")
                        |JOIN OUR TRIBE
                    a.ui.big.button(href="/register")
                        |BECOME AN AMBASSADOR OF HAPPINESS TODAY!
                    .ui.big.header.f20
                        |Orders received prior to Monday each week ship on Wednesday
        .two.column.row
            .column
                img(src="https://cdn.shopify.com/s/files/1/0530/4048/0439/files/190412-keto-magic-cookies-horizontal-1556311562_720x.png?v=1609975046")
            .column
                .ui.header 
                    |Gluten free Vegan Cookie Dough
                |Where can you buy incredibly delicious quality vegan/plant based high protein, cookie dough?
                .ui.large.list
                    .item 
                        +i name='no-parabens'
                        |Rock N Roll  Cookie dough has no preservatives.
                    .item 
                        +i name='no-gmo'
                        |Rock N Roll Cookie dough has no GMO’s.
                    .item 
                        +i name='pancake'
                        |Rock N Roll Cookie dough is sweetened with organic maple syrup.
                    .item 
                        +i name='sugar'
                        |Rock N Roll Cookie dough contains no grains!
                    .item 
                        +i name='protein'
                        |3 grams of protein average per portion.
                    .item 
                        +i name='paleo-diet'
                        |Rock N Roll Cookie dough is paleo friendly.
                

            // a.center.aligned.column.zoomer(href="/shop")
            //     img.ui.image(src="https://nudefoodsmarket.com/wp-content/uploads/2020/10/Lemony-Lentil-Soup-e1604278933195.jpg")
            //     .ui.header nude meals
    // .ui.vertical.stripe.segment
    //     .ui.stackable.padded.grid
    //         .seven.column.center.aligned.row
    //             a.center.aligned.column.zoomer(href="/shop")
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='food-cart'
    //                     |#{product_count} products
    //             a.center.aligned.column(href="/trips")
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='protected-bike-lane'
    //                     |trips
    //             a.center.aligned.column.zoomer(href='/store')
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='qr-code'
    //                     |qr code purchasing
    //             a.center.aligned.column.zoomer(href="/giftcards")
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='gift-card'
    //                     |#{giftcard_count} giftcards
    //             a.center.aligned.column.zoomer(href="/users")
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='groups'
    //                     |#{customer_count} customers
    //             a.center.aligned.column
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='technical-fluid'
    //                     |pounds of plastic prevented
    //             a.center.aligned.column(href="/subscriptions")
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='clock'
    //                     |#{subscription_count} subscriptions
    //             .center.aligned.column
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='staff'
    //                     |#{staff_count} staff
    //             a.center.aligned.column.zoomer(href="/sources")
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='field-and-tractor'
    //                     |#{source_count} sources
    //             a.center.aligned.column.zoomer(href="/ingredients")
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='ingredients'
    //                     |#{ingredient_count} ingredients
    //             a.center.aligned.column.zoomer(href="/orders")
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='invoice'
    //                     |#{order_count} orders
    //             a.center.aligned.column.zoomer(href="/stats")
    //                 .ui.icon.header
    //                     i.icon 
    //                         +ibig name='eye'
    //                     |#{stats.homepage_views} homepage views
        .ui.stackable.padded.grid
            .ui.header 
                |latest updated documents
            each latest_updated
                .ui.header #{title}
            .ui.header 
                |latest created documents
            each latest_created
                .ui.header #{title}
            .ui.header 
                
                        
    // +footer