template(name='product_view')
    with current_doc
        img.ui.fluid.image.checkin_banner(src="{{c.url image_id}}")
        .ui.stackable.padded.grid
            .one.column.row
                .column
                    .ui.large.inline.header 
                        //- small viewing
                        | #{title}
                    +order_button
            .three.column.row
                .column
                    div
                    a.ui.basic.icon.button.fly_left(href="/shop")
                        i.chevron.left.large.icon
                        // i.large.food.icon
                        +i name='food-cart' cl='ui mini inline image'
                    if currentUser.admin
                        a(href="/product/#{_id}/edit")
                            i.pencil.blue.large.link.circular.icon
                    // a(href="{{c.url image_id}}" target="_window")
                    // .four.wide.column
                    img.ui.rounded.fluid.image.zoomer(src="{{c.url image_id}}")
                .column
                    if image_id2
                        img.ui.rounded.image.zoomer(src="{{c.url image_id2}}")
                    if image_id3
                        img.ui.rounded.image.zoomer(src="{{c.url image_id3}}")
                .column
                    +html_view key='description' direct=true
                    // +text_view key='size_description' label='size description'  direct=true
                    a.ui.basic.icon.button(href=product_link)
                        i.external.icon
                    
                    +boolean_view key='gluten_free' label='gluten free' direct=true icon='no-gluten'
                    +boolean_view key='vegetarian' label='vegetarian' direct=true icon='vegetarian-mark'
                    +boolean_view key='no_sugar_added' label='no sugar added' direct=true icon='no-sugar2'
                    +boolean_view key='vegan' label='vegan' direct=true icon='vegan-symbol'
                    +boolean_view key='paleo' label='paleo' direct=true icon='caveman'
                    +boolean_view key='local' label='local' direct=true icon='marker'
                    +boolean_view key='nut_free' label='nut free' direct=true icon='no-peanut'
                    +boolean_view key='rescued' label='rescued' direct=true icon='nothing-found'
                    +boolean_view key='organic' label='organic' direct=true icon='organic-food'
                    +boolean_view key='no_gmo' label='no gmo' direct=true icon='no-gmo'
                    +boolean_view key='jar' label='jar container (requires deposit & return)' direct=true icon='mason-jar'
                    div
                    .ui.inline.header 
                        +i name='ingredients'
                        |ingredients
                    each ingredients
                        .ui.large.basic.label.goto_ingredient #{this}
                    div
                    +voting_full
                    +link_view key='external_link' label='external link' icon='globe' direct=true
                    +comments
                    // +product_orders
                .four.wide.column
                    // .ui.segment
                    //     +product_inventory
                    .ui.list
                        .item #{product_link}
                        .item calculated inventory
                        .item #{total_units_sold} total units sold
                        .item $#{total_revenue} total revenue
                        .item expected inventory
                        .item query params: #{query_params}
                    i.refresh.large.link.icon.calc_stats(title='refresh_stats')
                .four.wide.column
                    +product_reviews
                .five.wide.column
                    +product_orders
                .five.wide.column
                    +product_subscriptions
                    .ui.header 
                        i.fork.icon
                        |related products
                    each related_products
                        a.ui.header(href="/product/#{_id}") #{title}
                            
        
        
        
// template(name='product_inventory')      
    .ui.inline.header 
        +i name='shield'
        |inventory
    div 
    .ui.list #{last_inventory_record} most recent FOH record
    a.ui.icon.basic.button.add_inventory
        i.plus.icon
    .ui.large.selection.list
        each inventory_items
            .item
                .content
                    // unless editing_this
                    img.ui.rounded.small.inline.image(src="{{c.url image_id gravity='face' crop='fit'}}" class=cl)
                    
                    // +image_view key='image_id' cl='ui tiny inline image'
                    .ui.basic.label ##{amount}
                    .ui.basic.label #{location}
                    if notes
                        .ui.basic.label notes: #{notes}
                    .ui.basic.label
                        i.user.icon
                        |#{staff}
                    i.edit.link.icon.edit_inventory_item
                    // if editing_this
                    //     +number_edit key='amount' label='amount' direct=true
                    //     +key_value_edit key='location' value='boh' label='boh' direct=true
                    //     +key_value_edit key='location' value='foh' label='foh' direct=true
                    //     // +text_edit key='location' label='location' icon='marker' direct=true
                    //     +text_edit key='notes' label='notes' icon='pencil' direct=true
                    //     // +text_edit key='staff' label='staff' icon='user' direct=true
                    //     +image_edit key='image_id'
                    //     +key_value_edit key='staff' value='matt' direct=true
                    //     +key_value_edit key='staff' value='nena' direct=true
                    //     i.checkmark.green.link.circular.large.icon.save_inventory_item

template(name='product_reviews')
    .ui.inline.header 
        +i name='popular-topic'
        |reviews
    .ui.circular.basic.icon.button.add_review
        i.plus.icon
    div
    each product_recipes
        a.ui.header(href="/recipe/#{_id}/view") #{title}
        
template(name='product_subscriptions')     
    div
    if subscribed
        .ui.basic.green.inverted.button.unsubscribe
            i.undo.icon
            |unsubscribe
    else
        .ui.basic.green.inverted.button.subscribe
            i.undo.icon
            |subscribe
    .ui.small.header 
        +i name='clock'
        |subscriptions
    .ui.link.selection.animated.list
        each product_subs
            a.item(href="/sub/#{_id}") 
                |#{when} #{_author_username}
                .ui.basic.label #{sub_day}
                .ui.basic.label #{sub_frequency}
    .ui.small.header 
        |your subscriptions

template(name='product_orders')                            
    if can_order
        +order_button
    each subs
        .ui.header #{_author_username}
    .ui.header 
        +i name='order-history'
        |#{product_orders.count}
        |orders
        |(${{fixed product_order_total}})
    .ui.basic.segments
        each product_orders
            +product_order_card
    .ui.header #{views} views
    +order_status_icons
    .ui.hidden.divider
                
template(name='order_status_icons')  
    a.zoomer(href="/order/#{_id}")
        if runner_viewed
            +icolor name='eye-checked' cl='ui avatar image'
        if preparing
            +icolor name='new-product--v1' cl='ui avatar image'
        if prepared
            +icolor name='handle-with-care' cl='ui inline image'
        if arrived
            +icolor name='checked-truck' cl='ui inline image'
        if delivered
            +icolor name='checkmark' cl='ui inline image'
        
        if delivery_photo
            +image_view key='delivery_photo' direct=true cl='ui tiny inline image'


         
         
         
template(name='product_order_card')
    .ui.segment(class=product_order_class)
        .ui.inline.green.header
            |${{fixed order_price}} 
            if _author.image_id
                img.ui.avatar.image(src="{{c.url _author.image_id width=100 height=100 gravity='face' crop='fill'}}")
            |#{_author.username}
        // div
        .ui.large.basic.label
            i.clock.icon
            |status: #{status}
        .ui.small.inline.header
            | #{when} ({{long_date _timestamp}})
        a.ui.compact.big.icon.button(href="/order/#{_id}")
            i.right.chevron.large.icon
        if is_author
            .ui.small.compact.basic.button.cancel_order(title='cancel')
                i.remove.red.icon
                |cancel



template(name='order_button')
    // if servings_left
    .ui.green.large.button.order_product
        i.cart.plus.large.icon
        strong ${{fixed price_usd}}
        // |order #{serving_unit}
        // small order for
        // strong #{price_franc}f
    // else 
    //     .ui.grey.header sold out
        //- .ui.teal.large.button.join_waitlist
        //-     i.clock.large.icon
        //-     |join wait list




template(name='product_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .eight.wide.column
                    .ui.inline.header
                        i.pencil.icon
                        | #{title}
                        small product
                    .ui.large.icon.fluid.green.button.save_product.fly_right(title='save product')
                        i.checkmark.large.icon   
                    +text_edit key='title' label='title' icon='text' direct=true
                    // +text_edit key='slug' label='slug' icon='slug' direct=true
                    +html_edit key='description' label='description' direct=true
                    +print_this
                    if can_delete
                        .ui.red.button.delete_product
                            i.remove.icon   
                            | delete
                    // +link_edit key='amazon_referral_link' label='amazon referral link' icon='amazon' direct=true
                    // +link_edit key='external_link' label='external link' icon='globe' direct=true
                    // +array_edit key='ingredients' label='ingredients' icon='ingredients' direct=true
                    +ingredient_picker
                    // +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    // +text_edit key='size_description' label='size description'  direct=true
                .eight.wide.column
                    +float_edit key='price' label='price' icon='money' direct=true
                    +image_edit key='image_id' label='image' direct=true
                    +image_edit key='image_id2' label='alt image' direct=true
                    +image_edit key='image_id3' label='alt2 image' direct=true
                    +link_edit key='product_link' label='old site link' direct=true
                    // div
                    // +float_edit key='price_usd' label='$ price' direct=true
                    +boolean_edit key='gluten_free' label='gluten free' direct=true icon='no-gluten'
                    +boolean_edit key='paleo' label='paleo' direct=true icon='caveman'
                    +boolean_edit key='vegetarian' label='vegetarian' direct=true icon='vegetarian-mark'
                    +boolean_edit key='no_sugar_added' label='no sugar added' direct=true icon='no-sugar2'
                    +boolean_edit key='vegan' label='vegan' direct=true icon='vegan-symbol'
                    +boolean_edit key='no_gmo' label='no gmo' direct=true icon='no-gmo'
                    +boolean_edit key='local' label='local' direct=true icon='marker'
                    +boolean_edit key='nut_free' label='nut free' direct=true icon='no-peanut'
                    +boolean_edit key='rescued' label='rescued' direct=true icon='nothing-found'
                    +boolean_edit key='kosher' label='kosher' direct=true icon='judaism'
                    +boolean_edit key='organic' label='organic' direct=true icon='organic-food'
                    div
                    +number_edit key='calories' label='calories' icon='food' direct=true
                                
                                
                                
template(name='ingredient_picker')
    .ui.header 
        +i name='ingredients'
        |ingredients
    // if is_admin
    .ui.icon.large.input 
        if ingredient_search_value
            i.large.red.remove.link.icon.zoomer.clear_search
        else 
            i.search.icon
        input.ingredient_search(type='text' placeholder='search' value=ingredient_search_value)
    if ingredient_results
        .ui.selection.link.animated.list
            each ingredient_results
                .ui.item.pick_ingredient.zoomer
                    img.ui.avatar.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    |#{title}
    // else if ingredient_search_value
    .ui.button.create_ingredient
        |add #{ingredient_search_value}
    
    if product_ingredients
        .ui.header 
            |#{product_ingredients.length}
            |picked ingredients
        .ui.list
            each product_ingredients
                .ui.item
                    |#{title}
                    i.remove.link.icon.zoomer.remove_ingredient

                            
                            
                            


template(name='pick_section')
    .ui.big.image.label
        img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
        | #{title}